<html>
<head>
    <title>About Progressive Tax Calculator</title>   
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    #green {color: #006A4E;
            font-family: 'Montserrat', sans-serif;}
    #body {background-color:#E9ECEB;}
    #heading {font-family: 'Montserrat', sans-serif;}
    p {
        font-family: 'Montserrat', sans-serif;
    }

    .img{
        width: 700px;
    }

</style>
<body id='body'>
    <h2 id='heading'>What is progressive tax ?</h2>
    <p><strong>A progressive tax</strong> is based on the taxpayer's ability to pay. It imposes a lower tax rate on low-income earners than on those with a higher income.<br>
    This is usually achieved by creating tax brackets that group taxpayers by income ranges. </p>
    <img src="https://i.ibb.co/YDRsXBK/diagram.png" class="img"/>

    <h2 id='heading'> List of contribution :</h2>
    <h3 id='green'>Hussain Abdillah Tugas kelarno :</h3>
    <p>Editing python's code<br>
    Making diagram table<br>
    Changing index</p>
    <h3 id='green'>Ilham Aufal Hadad :</h3>
    <p>Author of this page<br>
    looking for refrences<br>
    Editing the image</p>
    <h3 id='green'>Pandu Putra Wijaya :</h3>
    <p>Editing css<br>
    Uploading into heroku</p><br>
    <h2 id='heading'>Other contributing party, outside our group :</h2>
    <h3 id='green'>Aldin :</h3>
    <p>Giving explain about connecting homepage to about page and giving explanation about static to display picture.</p>
    <hr>

    <a href="{% url 'utama' %}" id="green">Kembali ke halaman utama</a>
</body>
</html>